body {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  margin-top: 1.5em;
}
h1 {
  font-size: 32px;
}

table,
tr,
th,
td {
  border: 1px solid black;
}

figcaption {
  font-style: italic;
}

figure {
  float: right;
}
